name: Unit Test

on: push

jobs:
  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run test
      - run: bunx jsonlint package.json
